@{
	ViewData["Title"] = "BarGraph";
}

<h1>User Engagement</h1>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<link rel="stylesheet" href="~/css/styles.css">

<svg width="1350" height="500"></svg>

<script>
	(function () {
		const urlParams = new URLSearchParams(window.location.search);
		const id = urlParams.get('venueId');

		$.ajax({
			type: "GET",
			url: "CreateGraph/" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (result) {
				const svg = d3.select("svg"),
					margin = { top: 20, right: 20, bottom: 30, left: 50 },
					width = +svg.attr("width") - margin.left - margin.right,
					height = +svg.attr("height") - margin.top - margin.bottom,
					x = d3.scaleBand().rangeRound([0, width]).padding(0.2),
					y = d3.scaleLinear().rangeRound([height, 0]),
					g = svg.append("g")
						.attr("transform", `translate(${margin.left},${margin.top})`);
				var data = result;
				console.log(data);

				x.domain(data.map(d => d.EventName));
				y.domain([0, d3.max(data, d => d.UserEngagement)]);

				g.append("g")
					.attr("class", "axis axis-x")
					.attr("transform", `translate(0,${height})`)
					.call(d3.axisBottom(x));

				g.append("g")
					.attr("class", "axis axis-y")
					.call(d3.axisLeft(y).ticks(10).tickSize(8));

				g.selectAll(".bar")
					.data(data)
					.enter().append("rect")
					.attr("class", "bar")
					.attr("x", d => x(d.EventName))
					.attr("y", d => y(d.UserEngagement))
					.attr("width", x.bandwidth())
					.attr("height", d => height - y(d.UserEngagement));
				//.attr("fill", (d,i) => rainbow(i));
			},
			error: function (msg) {
				$("#result").text(msg);
			}
		})
	})();
</script>
