@{
    ViewData["Title"] = "Index";
}

<script src="https://maps.googleapis.com/maps/api/js?key=GoogleMapsAPIToken.Token&callback=initMap" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">

    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);

    function success(position) {
        var coordinates = {
            longitude: position.coords.longitude,
            latitude: position.coords.latitude
        }
        console.log(position);

        $.post({
            url: 'Event/Handoff',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(coordinates),
            dataType: "json",
            success: recData => alert("Success" + recData),
            error: error => console.log(error)
        });

        /*$.ajax({
        type: "GET",
        url: "https://localhost:44303/event/GetEventsByCoordinates/?lat=" + latitude + "&lon=" + longitude
        })*/
    }

    function failure() {
        alert("Could not retrieve location.");
    }

</script>

<div class="card">
    <div class="card-header">
        Event Name
    </div>
    <div class="card-body container">
        <div class="row">
            <div class="col-3">
                <img />
            </div>
            <div class="col-9">
                <h5 class="card-title">Name: </h5>
                <h5 class="card-title">Date: </h5>
                <h5 class="card-title">Time: </h5>
                <h5 class="card-title">Genre: </h5>
            </div>
        </div>
    </div>
</div>

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
@***This line was added to TEST the github repo. Remove this line before releasing this app for use!***@
>>>>>>> parent of 1ff39db... filtered events by category_id

>>>>>>> 1ff39db991e148d5faa8ba80911bc3a9232663ff

