@model IEnumerable<LiveTunes.MVC.Models.Event>
<script src="~/js/Genre.js"></script>
@{
    ViewData["Title"] = "LikedEvents";
}

<h4>Liked Events</h4>

<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserLiked)
            {
                <tr>
                    <td>
                        You Liked
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <a href="/Event/Details/@item.EventId">Go</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<h4>Recommended Events</h4>

<table class="table">   
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.UserLiked)
            {
                <tr>
                    <td>
                        Recommended
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <a href="/Event/Details/@item.EventId">Go</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
   
<a href="/Event">Find More Events!</a>
